@import url("https://orangeui.netlify.app/orange-ui.css");
body{
    background-color: var(--background-colorWhite);
}
.search-bar2{
    margin-top: -10px;
}
.navigation-bar{
    height: 60px;
}
.btn-login{
    height: 30px;
    margin-top: 20px;
}
.heart-icon{
    padding:10px;
}
.cart-icon{
    padding:4px;
}
#search-bar{
    height: 30px;
}
.nav-logo-items{
    padding-bottom: 18px;
}
/* main container */
.main-container{
    padding: 32px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
}
.text-only-card:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px var(--secondary-color);
}
.jumpo-card{
    display: flex;
    justify-content: center;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
}
.horizontal-card{
    background-color:var(--background-colorWhite);
    border: none;
}
.horizontal-card:hover{
    box-shadow: 0px 4px 8px var(--secondary-color);
}
.info-card{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.info-card:hover{
    box-shadow: 0px 4px 8px var(--secondary-color); 
}