@import url("/main.css");
@import url("/pages/authpage/auth.css");

/* product side bar */
.product-sidebar{
    border-right: 3px solid var(--primary-color);
    width: 15%;
    height: 680px;
    display: flex;
    flex-direction: column;
    padding: 0px 56px;
    overflow-y: scroll;
}
.filters-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0px 0px;
}
.filter-text{
    font-weight: bold;
}
.filter-clear{
    text-decoration: underline;
}
.category-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secodary-color);
}
.category{
    padding-top: 16px;
}
.rating-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--secodary-color);
}
.rating{
    padding-top: 16px;
}
.sortby-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
.sortby{
    padding-top: 16px;
}
/* product cards display */
.product-cards-display{
    margin-top: -670px;
    width: 70%;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    overflow-y: scroll;
    height: 600px;
}
.normal-card{
    padding: 8px;;
}